# see "man logrotate" for details
# rotate log files {{ logrotate_interval }}
{{ logrotate_interval }}

# keep {{ logrotate_weeks }} weeks worth of backlogs
rotate {{ logrotate_weeks }}

# create new (empty) log files after rotating old ones
{{ '#' if logrotate_create is defined and not logrotate_create else '' }}create

# use date as a suffix of the rotated file
{{ '#' if logrotate_dateext is defined and not logrotate_dateext else '' }}dateext

# uncomment this if you want your log files compressed
{{ '#' if logrotate_compress is defined and not logrotate_compress else '' }}compress

# RPM packages drop log rotation information into this directory
include {{ logrotate_include }}

{% if logrotate_options is defined %}
# Additional ansible defined options
{%   for key, value in logrotate_options.iteritems()|sort %}
{%     if value is sameas true %}
{{ key }}
{%     elif value is string or value is number %}
{{ key }} {{ value }}
{%     endif %}
{%   endfor %}
{% endif %}

# no packages own wtmp and btmp -- we'll rotate them here
/var/log/wtmp {
    monthly
    create 0664 root utmp
        minsize 1M
    rotate 1
}

/var/log/btmp {
    missingok
    monthly
    create 0600 root utmp
    rotate 1
}

# system-specific logs may be also be configured here.
