{% for file in item.files %}
{{ file }}
{% endfor %}
{
{% for key, value in item.options.iteritems()|sort %}
{%   if value is sameas true %}
    {{ key }}
{%   elif value is string or value is number %}
    {{ key }} {{ value }}
{%   else %}
    {{ key }}
{%     for x in item.options[key] %}
        {{ x }}
{%     endfor %}
    endscript
{%   endif %}
{% endfor %}
}
